

<footer class="gn-footer">
    <ul>
        <li>
            <a href="https://upravazasume.gov.rs/" class="nav-link" target="_blank">
                <img src="https://lh5.googleusercontent.com/vrdzxdTSL3D0CAMUj-nLA2w8UNYvaoOrDvtFbJT4FEcyMNr9sBvV54bRHTNFmkQe70s=w2400"></img>
            </a>
        </li>
        <li>
            <a href="https://fao.org/" class="nav-link" target="_blank">
                <img src="https://www.fao.org/images/corporatelibraries/fao-logo/fao-logo-en.svg?sfvrsn=f64522b4_33" style="width: 19rem;"></img>
            </a>
        </li>
        <li>
            <a href="https://mapsoft.rs" class="nav-link" target="_blank">
                <img src="https://lh5.googleusercontent.com/PGsDv1QQOpjVnsmiB0eqbEr0kgWLX2Gr7dUIDEnF0GH6LQh-wBT0k2NjbszT27DS2Z4=w2400"></img>
            </a>
        </li>
    </ul>
</footer>
