

<footer class="gn-footer">
    <ul>
        <li>
            <a href="https://upravazasume.gov.rs/" class="nav-link" target="_blank">
                <img src="https://lh4.googleusercontent.com/gsqneANlCLwUKe-xzkN7PLhVu0GHOB7eeycl9zn4TMIBDei1hNT36qxdTGTYaGWQClY=w2400" style="width: 100px;"></img>
            </a>
        </li>
        <li>
            <a href="https://fao.org/" class="nav-link" target="_blank">
                <img src="https://www.fao.org/images/corporatelibraries/fao-logo/fao-logo-en.svg?sfvrsn=f64522b4_33" style="width: 8.5rem;"></img>
            </a>
        </li>
        <li>
            <a href="https://mapsoft.rs" class="nav-link" target="_blank">
                <img src="https://lh3.googleusercontent.com/gDaxdAkK97iyvARWHn_KYdOUQZm4dMbSyVBGffDuXEMF8ZQnBFgJquUQWhgrvFocLU8=w2400" style="width: 130px;"></img>
            </a>
        </li>
    </ul>
</footer>
